.Project-002 {
  width: 177px;
  height: 116px;
  -webkit-text-stroke: 1px #ffffff;
  font-family: GillSans;
  font-size: 50px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 4.46px;
  color: rgba(4, 240, 147, 0);
  text-align: right;
  position: absolute;
  top: 230px;
  }
  .Rectangle {
    width: 600px;
    height: 600px;
    border: solid 1px #5d5d5d;
    left: -250px;
    bottom: -30px;
    text-align: justify;
    padding: 40px;
    position: relative;
  }
  .Bitmap {
    width: 541px;
    height: 554px;
    object-fit: contain;
    background-image: url(/assets/images/work2/bitmap.png);
    margin: -30px;
    animation: swing 1s ease-in-out infinite alternate;
  }
  @keyframes swing {
    0% { transform: rotate(3deg); }
    100% { transform: rotate(-3deg); }
}
  .Group-6 {
    width: 100px;
    height: 100px;
    object-fit: contain;
    position: absolute;
    bottom: 300px;
    right: 520px;
  }
  .oval {
    bottom: 320px;
    width: 10px;
    height: 10px;
    background-color: #00f194;
    position: relative;
    border-radius: 50%;
    left: 1100px;
  }
  .scroll-more {
    width: 72px;
    height: 15px;
    font-family: Futura;
    font-size: 12px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 1.07px;
    color: #ffffff;
    position: absolute;
      left: 20px;
      bottom: -3px;
  }

@media (max-width:576px){

  .Welcome-to-CC{
    text-align: center;
    position: static;
  }
  .wave{
    display: none;
  }
  .Rectangle{
    border: 3px solid #5d5d5d;
    position: static;
    width: 480px;
  }
  .Bitmap{
    position: static;
    width: 460px;
    background-size: cover;
  }
  .Project-002{
    color: #fff;
    text-align: center;
    z-index: 1;
    padding: 100px;
  }
  .Group-6{
    margin-top: 10px;
   position: static;
   transform: rotate(90deg);
  }
  .route{
    display: none;
  }
}