<div class="container">
    <div class="row">
        <div class="col-lg-6 col-md-6 col-xs-12">
            <p class="Project-002">Project
                002</p>
        </div>
        <div class="col-lg-6 col-md-6 col-xs-12 Rectangle ">
            <p class="Bitmap"></p>
            <lottie-player class="Group-6"
            slot="end" autoplay loop 
            src="https://assets2.lottiefiles.com/packages/lf20_pibieM.json">
</lottie-player>
        </div>
        <p routerLink="/services" class="oval route"><span class="scroll-more">scroll more</span></p>
    </div>
</div>
<lottie-player class="wave"
            style="z-index:-1;position:absolute;left:0px;top:0px;"
            slot="end" autoplay loop 
            src="https://assets1.lottiefiles.com/packages/lf20_WDH1nT.json">
</lottie-player>
      