.About-Us {
    width: 290px;
    height: 230px;
    font-family: GillSans;
    font-size: 96px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 5px;
    color: #ffffff;
   margin-top: 150px;
   position: relative;
    top: 50px;
    left: -100px;
  }
  .CC-Copy {
    width: 81px;
    height: 45px;
    object-fit: contain;
  }
  .Rectangle {
    left: -200px;
    top: 40px;
    border: solid 1px #5d5d5d;
    text-align: justify;
    padding: 40px;
    position: relative;
    background: #05050542;
  }
  .We-have-executed-pro , .We-are-proud-to-have-Copy {
    width: 495px;
    height: 112px;
    font-family: GillSans;
    font-size: 18px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.56;
    letter-spacing: 0.94px;
    color: #9a9a9a;
  }
  .know-more {
    width: 132px;
    height: 28px;
    -webkit-text-stroke: 1px #ffffff;
    font-family: GillSans;
    font-size: 24px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 2.14px;
    color: rgba(4, 240, 147, 0);
  }
  .Line-2 {
    width: 132px;
    height: 1px;
    border: solid 1px #0ff4ff;
  }
 .text{
   margin-top: 80px;
 }
 .Oval {
  bottom: 250px;
  width: 10px;
  height: 10px;
  background-color: #00f194;
  position: relative;
  border-radius: 50%;
  left: 1150px;
}
.scroll-more {
  width: 72px;
  height: 15px;
  font-family: Futura;
  font-size: 12px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 1.07px;
  color: #ffffff;
  position: absolute;
    left: 20px;
    bottom: -3px;
}
@media (max-width:576px){
  .About-Us{
    text-align: center;
    position: static;
    margin-top: 30px;
  }
  .Rectangle{
    border: 3px solid #5d5d5d;
    position: static;
    margin: 30px;
  }
  .wave{
    display: none;
  }
  .route{
    display: none;
  }
}