<div class="container">
    <div class="row">
        <div class="col-lg-6 col-md-6 col-xs-12">
            <p class="Our-Clients">Our Clients</p>
        </div>
        <div class="col-lg-6 oval">
            <lottie-player class="clients"
            slot="end" autoplay loop 
            src="https://assets1.lottiefiles.com/packages/lf20_wBMBZy/clients.json">
            </lottie-player>
        </div>
        <p routerLink="/about" class="Oval route"><span class="scroll-more">scroll more</span></p>
    </div>
</div>
<lottie-player  class="wave"
            style="z-index:-1;position:absolute;left:0px;top:0px;"
            slot="end" autoplay loop 
            src="https://assets1.lottiefiles.com/packages/lf20_WDH1nT.json">
</lottie-player>
