<div class="md-stepper-horizontal orange">

    <div class="md-step">
      <div class="md-step-circle" title="work1" routerLinkActive="active"routerLink="/work1">
        <span>1</span>
      </div>
      <div class="md-step-bar-left"></div>
      <div class="md-step-bar-right"></div>
      <div class="md-step-title">Work1</div>
    </div>

    <div class="md-step">
      <div class="md-step-circle" title="work2" routerLinkActive="active" routerLink="/work2">
        <span>2</span>
      </div>
      <div class="md-step-bar-left"></div>
      <div class="md-step-bar-right"></div>
      <div class="md-step-title">Work2</div>
     </div>

    <div class="md-step">
      <div class="md-step-circle" title="services" routerLinkActive="active" routerLink="/services">
        <span>3</span>
      </div>
      <div class="md-step-bar-left"></div>
      <div class="md-step-bar-right"></div>
      <div class="md-step-title">Services</div>
    </div>

    <div class="md-step">
      <div class="md-step-circle" title="clients" routerLinkActive="active" routerLink="/clients">
        <span>4</span>
      </div>
      <div class="md-step-bar-left"></div>
      <div class="md-step-bar-right"></div>
      <div class="md-step-title">Clients</div>
    </div>

    <div class="md-step">
        <div class="md-step-circle" title="about" routerLinkActive="active" routerLink="/about">
          <span>5</span>
        </div>
        <div class="md-step-bar-left"></div>
        <div class="md-step-bar-right"></div>
      <div class="md-step-title">About</div>
      </div>

      <div class="md-step">
        <div class="md-step-circle" title="contact" routerLinkActive="active" routerLink="/contact">
          <span>6</span>
        </div>
        <div class="md-step-bar-left"></div>
        <div class="md-step-bar-right"></div>
      <div class="md-step-title">Contact</div>
      </div>
  </div>
