<div class="container">
    <div class="row">
        <div class="col-lg-6 col-md-6 col-xs-12">
            <p class="Lets-Connect">Let's Connect</p>
        </div>
        <div class="col-lg-4 col-md-4 col-xs-12 rectangle">
            <form>
                <div class="form-group">
                    <label class="Name">Name</label>
                    <input type="text" placeholder="John Mike" class="form-control John-Mike">
                </div>
                <div class="form-group">
                    <input type="email" placeholder="Email" class="form-control Email">
                </div>
                <div class="form-group">
                    <input type="text" placeholder="Message" class="form-control Message">
                </div>
                <p class="SEND">SEND<span class="click">click</span></p>
            </form>
        </div>
        <div class="col-lg-2 col-md-2 col-xs-12">
        <p routerLink="/" class="Oval route"><span class="scroll-back">scroll back</span></p>
        </div>
    </div>
</div>
